* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header,
.footer {
    background-color: rgb(231, 248, 240);
    padding: 10px;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(213, 236, 226);
}

.header-content {
    display: flex;
    gap: 20px;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.navbar-item {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
}

.navbar-item:hover {
    filter: brightness(1.2);
}

.navbar-item a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    background-color: greenyellow;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    filter: brightness(1.2);
}

.btn:active {
    background-color: rgb(60, 255, 0);
}

.submit-btn {
    cursor: pointer;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 400px;
    padding: 20px;
}

.form-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    font: 1rem / 1.4 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    outline: none;
}

.form-input {
    border: 2px solid transparent;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

.error-input {
    border: 2px solid red;
}

.users {
    padding: 10px;
}

.users-title {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 6px;
}

.users-table-id {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.users-table-edit-btn,
.users-table-delete-btn {
    width: 100%;
    padding: 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}

.users-table-edit-btn {
    background-color: rgb(70, 70, 225);
    color: whitesmoke;
}

.users-table-delete-btn {
    background-color: rgb(225, 70, 70);
    color: whitesmoke;
}

.users-table-edit-btn:hover,
.users-table-delete-btn:hover {
    filter: brightness(1.2);
}