* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: gainsboro;
    padding: 10px;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: start;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 24px;
    background-color: greenyellow;
    border-radius: 8px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    background-color: rgb(141, 213, 34);
}

.btn:active {
    background-color: rgb(60, 255, 0);
}

.submit-btn {
    cursor: pointer;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 400px;
    padding: 20px;
}

.form-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    font: 1rem / 1.4 sans-serif; 
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}